script(type='text/javascript', src='/javascripts/socket.io.min.js')
script
	var appID = !{JSON.stringify(app.id)};

	socket = io.connect();
	socket.on('connect', function() {
	});

	socket.on('disconnect', function() {
	});

	socket.on('console', function(data) {
		$('#console').append(data);
		$('#console_container').animate({ scrollTop: $('#console_container')[0].scrollHeight }, 600);
	});

	$(function() {
		socket.emit('console', appID);
	})

div(class='control_panel')
	div(class='label')
		span(class='title') #{title} #{app.appID}
	div(class='toolbar')
		div(class='button', onclick='location.href=\'/logout\';') Logout

div#console_container(class='console')
	pre#console(class='output')
