div(class='control_panel')
	div(class='label') #{title}

form(action='/login_verify', method='POST')
	div(class='login_box', style='position: relative;')
		h1 Login

		- if (err == 1)
			div(class='login_warning')
				div Failed to login!
				div Please check your username and password!
		
		div(class='inputline')
			label(for='username') Username:
			input(name='username', type='text')

		div(class='inputline')
			label(for='password') Passowrd:
			input(name='password', type='password')
		div(style='position: absolute; right: 0px;')
			button Login
